/* Algemene opmaak */
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */
header {
    padding: 30px;
    margin-bottom: 10px;
    background-color: #2B2D42;
    color: #8D99AE;
}

header h1 {
    font-size: 80px;
    color: #EDF2F4;
}

header h2 {
    font-size: 40px;
    color: #EDF2F4;
}

/* Footer */
footer {
    padding: 30px;
    margin-top: 10px;
    background-color: #2B2D42;
    color: #8D99AE;
}

/* Education blok */
.education {
    padding: 30px;
    background-color: #8D99AE;
}

/* Links */
a {
    color: #EF233C;
}
