* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.kolom {
    width: 50%;
    float: left;
    border: 1px solid #007BFF;
    padding: 10px;
}