body {
    width: 95%;
    margin: 0 auto;
    background-color: #f7f7f7;
    font-family: Verdana, sans-serif;
}

header {
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

