body {
    margin: 0;
    padding: 0;
}

main {
    margin: 10px;
}

.artikel {
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px  #000000;
}

h2 {
    font-size: 1.25em;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-right: 10px;
}

