.memory-board {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.card {
    width: 225px;
    height: 319px;
    margin: 10px;
    background: url('../img/achterkant.jpg') no-repeat;
    background-size: auto;
    cursor: pointer;
}

.kaart1,
.kaart2,
.kaart3,
.kaart4,
.kaart5,
.kaart6 {
    display: none;
}

.gekozenkaart{

}
