html, body {
	margin:0px;
}

#speelveld {
	position:relative;
	border:solid 1px black;
	box-sizing:border-box; /* anders krijgen we scrollbars omdat het element door de border net te groot wordt */
}

.sprite {
	position:absolute;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}